body {
    background-color: antiquewhite;
}

h1 {
    background-color: rgb(204, 136, 54);
    color: rgb(24, 33, 49);

}

h2,
h3,
h4 {
    color: rgb(100, 137, 206);
}

h2 {
    font-style: italic;
}

li {
    list-style: none;
}

.remarcar {
    text-align: left;
    font-style: italic;
    color: rgb(100, 137, 206);
}